{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "semi": true,
  "singleQuote": true,
  "printWidth": 200,
  "eslintIntegration": true,
  "stylelintIntegration": true,
  "tabWidth": 2,
  "bracketSpacing": true,
  "arrowParens": "avoid"
}
